<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mx-auto">
        <h2>Sign in</h2>
        
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group">
            <%= f.label :email  %><br/>
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br/>
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign in", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>