<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h2>新規登録</h2>
      <%= form_with model: @user, url: signup_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label "名前" %><br/>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label "メールアドレス" %><br/>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group">
          <%= f.label "パスワード" %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label "パスワード確認" %><br/>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
