<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>プロフィール</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>名前</th>
            <td><%= @current_user.name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @current_user.email %></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-5">
      <h2>旅人レベル</h2>
      <%= @user_level %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <input type="hidden" class="badge_array" value="<%= @completed_badges %>">
      <h2>獲得バッジ</h2>
      <div class="badge" id="日本">
        <%= image_tag "Japan.png", size: '150x150' %>
      </div>
      <div class="badge" id="アジア">
        <%= image_tag "Asia.png", size: '150x150' %>
      </div>
      <div class="badge" id="オセアニア">
        <%= image_tag "Oceania.png", size: '150x150' %>
      </div>
      <div class="badge" id="ヨーロッパ">
        <%= image_tag "Europe.png", size: '150x150' %>
      </div>
      <div class="badge" id="中東">
        <%= image_tag "Middle_East.png", size: '150x150' %>
      </div>
      <div class="badge" id="アフリカ">
        <%= image_tag "Africa.png", size: '150x150' %>
      </div>
      <div class="badge" id="北米">
        <%= image_tag "North_America.png", size: '150x150' %>
      </div>
      <div class="badge" id="南米">
        <%= image_tag "South_America.png", size: '150x150' %>
      </div>
    </div>
  </div>
</div>
