<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sidebar">
        <div class="area">
          <h5>エリア検索</h5>
          <%= link_to "全エリア", posts_path %><br>
          <% @continents.each do |continent| %>
            <%= link_to continent.name, posts_path(continent_id: continent.id) %><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="post-title">
        <% if params[:continent_id] %>
          <h3><%= @continent.name %> (<%= @all_posts_count %>)</h3>
        <% else %>
          <h3>写真 (<%= @all_posts_count %>)</h3>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 post-items">
      <% @posts.each do |post| %>
        <div class="items">
           <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post,:image, class: "img-fluid photo", fallback: "no_image.jpg" %>
            <h5><%= post.country %>・<%= post.city %></h5>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @posts %>