<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h5 class="text-center">エリア検索</h5>
      <div class="area">
        <%= link_to "全エリア", posts_path, class: "btn btn-primary" %>
        <% @continents.each do |continent| %>
        <div class="area-button">
          <%= link_to continent.name, posts_path(continent_id: continent.id), class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="post-title">
        <% if params[:continent_id] %>
          <h3><%= @continent.name %> (<%= @all_posts_count %>)</h3>
        <% else %>
          <h3>全投稿 (<%= @all_posts_count %>)</h3>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 post-items">
      <% @posts.each do |post| %>
        <div class="items">
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post,:image, class: "img-fluid photo", fallback: "no_image.jpg" %>
            <div class="item-text">
              <h4><%= post.country %>・<%= post.city %></h4>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @posts %>