<!DOCTYPE html>
<html>
  <head>
    <title>Trabum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <li>
        <%= link_to "ログアウト", logout_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", signup_path %>
      </li>
      <li>
        <%= link_to "ログイン", login_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
